@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin gradientText($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@mixin h6Rules {
  @apply text-sub-title uppercase text-[12px] sm:text-[13px] md:text-[14px] lg:text-[16px]
}
@mixin h5Rules {
  @apply text-[14px] sm:text-[16px] md:text-[18px] lg:text-[22px]
}

@layer base {
  .gilroy {
    font-family: gilroy;
  }
  .ginora {
    font-family: ginora;
  }
  .hoverPrimaryColorImg {
    @apply transition-all;
    &:hover {
      filter: invert(47%) sepia(14%) saturate(1462%) hue-rotate(195deg) brightness(115%) contrast(147%);
    }
  }
  .angular-gradient-text {
    @include gradientText(conic-gradient(from 180deg at 50% 50%, #66FFE6 -160.13deg, #8093FF 42.37deg, #66FFE6 199.87deg, #8093FF 402.37deg));
  }
  .liner-agadint-bg {
    background: conic-gradient(from 180deg at 50% 50%, #66FFE6 -160.13deg, #8093FF 42.37deg, #66FFE6 199.87deg, #8093FF 402.37deg);
  }

  html {
    font-family: gilroy;
    overflow-x: hidden;
    h1, h2, h3, h4, h5 {
      @apply text-primary-title;
      font-family: ginora;
    }
  }
  html, body, #root {
    @apply h-full
  }
  body {
    @apply bg-[#353535] overflow-x-hidden text-secondary-title
  }
  main, footer {
    @apply px-5 mw:px-0;
  }
  main {
    @apply mt-[100px] flex-1
  }

  h1, h2, h3, h4, h5 {
    @apply font-bold leading-tight capitalize
  }
  h1 {
    @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[82px]
  }
  h2 {
    @apply text-[36px] sm:text-[46px] md:text-[55px] lg:text-[62px] 
  }
  h3 {
    @apply text-[26px] sm:text-[34px] md:text-[38px] lg:text-[44px]
  }
  h4 {
    @apply text-[20px] sm:text-[25px] md:text-[30px] lg:text-[36px]
  }
  h5, .h5rules {
    @include h5Rules
  }
  h6, .h6rules {
    @include h6Rules;
  }
  .smallh1 {
    @apply text-[42px] sm:text-[48px] md:text-[55px] lg:text-[62px]
  }
  .smallh3 {
    @apply text-[26px]
  }
  .smallh4 {
    @apply font-semibold text-[20px] sm:text-[22px] md:text-[22px] lg:text-[26px] 
  }
  .primary-hover {
    @apply transition-all hover:text-primary
  }
  .primaryHoverWithImg {
    &:hover {
      img {
        filter: invert(47%) sepia(14%) saturate(1462%) hue-rotate(195deg) brightness(115%) contrast(147%);
      }
      * {
        @apply text-primary;
      }
    }
  }
  .mt100to200 {
    @apply mt-24 sm:mt-32 md:mt-40 lg:mt-[200px]
  }
  .skeleton {
    @apply bg-gray-300 rounded-lg animate-pulse dark:bg-gray-700
  }
}

@font-face {
  font-family: gilroy;
  src: url('./assets/font/gilroyRegular.woff');
  font-weight: 400;
}
@font-face {
  font-family: ginora;
  src: url('./assets/font/ginoraRegular.otf');
  font-weight: 400;
}
@font-face {
  font-family: ginora;
  src: url('./assets/font/ginoraBold.otf');
  font-weight: 600;
}
@font-face {
  font-family: ginora;
  src: url('./assets/font/ginoraSemiBold.otf');
  font-weight: 700;
}